html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}

.page-body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("../img/content/bg.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.page-body a {
  text-decoration: none;
}

.page-body img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: transparent;
}

.main-navigation-wrapper {
  background-color: #000000;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
  background-color: #242424;
}

.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.index-columns {
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/icon/pattern-light.jpg");
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
}

.feature-item h3 {
  font-size: 30px;
  line-height: 42px;
}

.news-list {
  list-style: none;
}

.news-item time {
  text-transform: none;
}

.gallery-content {
  background-color: #5b5b5b;
  border: 7px solid #ffffff;
}

.contacts .phone {
  color: #000000;
}

.contacts .phone:hover,
.contacts .phone:focus,
.contacts .phone:active {
  color: #5b5b5b;
  text-decoration: underline;
}

.footer-contacts .phone {
  color: #ffffff;
}

.footer-contacts .phone:hover,
.footer-contacts .phone:focus,
.footer-contacts .phone:active {
  opacity: 0.7;
  text-decoration: underline;
}

.appointment-item input {
  font: inherit;
  text-transform: inherit;
  background-color: transparent;
  border: 2px solid #000000;
}

.appointment-item input:focus {
  border: 2px solid #a06600;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-social h2 {
  font-size: 14px;
}

.footer-social a {
  color: #ffffff;
}

.footer-social a:hover {
  background-color: #5b5b5b;
}

.social-button {
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  background-color: #ffffff;
}

.main-footer {
  color: #ffffff;

  background-color: #212121;
  background-image: url("../img/icon/pattern-dark.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.footer-map {
  color: #ffffff;
  text-decoration: underline;
}

.footer-map:hover {
  background-color: #5b5b5b;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;
  background-color: #ffffff;
}

.modal {
  color: #000000;

  background-color: #f8f3f0;
  background-image: url("../img/icon/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.restore {
  color: #000000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}
